
.font{
    font-family: 'Monoton', cursive;
    color: red;
    
}
.transbox {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    margin-left: 6%;
    margin-right: 6%;
}
  
.transbox p {
    /* margin: 5%; */
    font-weight: bold;
    color: red;
}
.tab { text-indent: 40px; };
.imgmon{
    height:200px;
}
.abttxt{
    font-size: 40px;
    font-family: 'Monoton', cursive;
    color: black;
}
.aboutback{
    background: linear-gradient(169deg, rgba(255,247,253,1) 0%, rgba(189,153,135,0.9363095580028886) 100%);
    background-size: cover;
    width: 100%;
    min-height: 100vh;  
    
}
.cardback{
    background-color:  rgba(223,233,231,.5);
}
.cardback:hover {
    background-color: transparent; 
    transition: background-color 1s linear;     
 }
.abtdiv {
    
    background:  transparent;    
    transition: background-color 1s linear;
 }
 
 .abtdiv:hover {
    background-color: rgba(223,233,231,.5);  
        
 }
.abtp{
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.namefont{
    font-family: 'Monoton', cursive;
    color: red;
    font-size: 45px;
    
}
.navback{
    background-color: transparent;
}
hr{
    background-color: black;
    border: 0 none;
    color: black;
    height: 3px;
}
.navtxt{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.nbtxt{
    /* font-size: 10px; */
    font-family: 'Ubuntu', sans-serif;
}
 